.navbar{
	margin-bottom: 0;
	border-radius: 0;
	padding-left: 0;
}

.container-fluid-adj{
	/*ensure logo starts at left edge*/
	padding-left: 0; 
}

.navbar-brand-adj{
	margin-left: 40;
	margin-right: 15;
}

.logo{
	float:left;
	background-color: #FFFFFF;
	border-width: 5;
	border-color: #FFFFFF;
/*	width: 193;
	height: 49;
*/
}

.love{
	float: left;
	background-color: #FFFFFF;	
	margin-right: 15;
	margin-left: 15;
	margin-top: 15;
	margin-bottom: 15;
}

footer{
	float: right;
	margin-right: 15;
	margin-left: 15;
	padding-right: 15;
	padding-left: 15;

}
